bin/
obj/
out/

.vscode/
.idea/
*.csproj.user

*.pdb
*.mdb
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

Migrations/

*.pfx
*.p12

app.publish/
publish/


*.log
*.suo
*.user
*.userosscache
*.sln.docstates

.env
.env.*.local
*.swp
